<html>

<head>
<title>scree</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	body {background-color: #bac0c7}
    p.binderItem {margin: 10.0px 0.0px 0.0px 05.0px; font-family:Monaco, Cochin, Times, Courier, Arial, serif; font-size:12.0px;}
    .page {border: 1px solid #727272; background: #fff}
    hr {
      border-top: 1px dashed #000;
      border-bottom: 0px solid #fff;
      color: #fff;
      background-color: #fff;
      height: 0px;
  </style>
</head>

<body>

<table border="0" width="100%" cellspacing="3">
<tr>
<td>

<table class="page" width="100%" cellspacing="10" cellpadding="2">
<tr>
<td valign="top">

<ul>
<li>
<p class="binderItem"><strong>Part 1</strong></p>
</li>
<hr/>
<ul>
<li>
<p class="binderItem"><strong>Start</strong><br/>The internal title of the starting scene should be Start.  It's written in plain text, with only markdown-style formatting allowed.<br/>
<br/>
This scene ends with some choices, to which we navigate using internal names for the linked scenes:<br/>
<br/>
* Go to [[Scene 2]].<br/>
* Go to [[The End]].</p>
</li>
<li>
<p class="binderItem"><strong>Scene 2</strong><br/>This scene offers readers some more choices.  They can [[go back to a previous scene using an inline, descriptive link->Start]], a short inline link like [[Start]], or with links at the end like they saw before.<br/>
<br/>
* Go back to [[Start]].<br/>
* Go on to [[Scene 3]].<br/>
* [[You can also go to the next section using a descriptive title for the reader.->Scene 3]]<br/>
* [[Scene 2a<-You can format the longer link in either direction.]]<br/>
* Go to [[The End]].</p>
</li>
<hr/>
<ul>
<li>
<p class="binderItem"><strong>Scene 2a</strong><br/>A digression.<br/>
<br/>
* Go back to [[Scene 2]].</p>
</li>
</ul>
</ul>
<hr/>
<li>
<p class="binderItem"><strong>Part 2</strong></p>
</li>
<hr/>
<ul>
<li>
<p class="binderItem"><strong>Part 2a</strong></p>
</li>
<hr/>
<ul>
<li>
<p class="binderItem"><strong>Scene 3</strong><br/>Feel free to structure your story in Scrivener as you wish.  You can put all your scenes at the top level, or divide them into sections and even subsections.  All text sections will be complied into story nodes.  Any folder names and notes will be ignored.<br/>
<br/>
* Read about [[story formats|Scene 4]].<br/>
* Go to [[The End]].</p>
</li>
</ul>
<hr/>
<li>
<p class="binderItem"><strong>Scene 4</strong><br/>Twine's story formats control the final appearance of your story, as well as any gamebook scripting (e.g., variables to track your character's hit points or inventory, etc.), even down to the details of italics and indentation.  <br/>
<br/>
Most story formats use Markdown formatting, e.g., single asterisks to indicate *italics*, double asterisks for **boldface**, and double tildes for ~~strikethrough~~.<br/>
<br/>
Some story formats, such as SugarCube, use their own formatting language.  SugarCube formatting is bas...</p>
</li>
</ul>
<hr/>
<li>
<p class="binderItem"><strong>The End</strong><br/>The End is nigh!<br/>
<br/>
''The end.''</p>
</li>
</ul>

</td>
<td width="8">
</td>
</tr>
</table>

</td>
</tr>
</table>

</body>
</html>